body {
  background: black;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
}
#smooth-scroll {
  position: absolute;
	z-index: 3;
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.c-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  background: transparent;
}

.c-scrollbar_thumb {
  display: block;
  background: var(--mainColor);
  width: 4px;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

