.main-banner {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
  .shadow-top {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 48%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
  }
  .bg-img {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: Min(55vw, 915px);
    img {
      transform: translateY(2%);
      display: block;
      width: 100%;
    }
  }
  .text {
    width: 40%;
    h1 {
      font-weight: 900;
    }
    h5 {
      padding: 40px 0;
      line-height: 1.3;
    }
    .buttons {
      display: flex;
      align-items: center;
      a {
        padding: 0 20px;
        height: 50px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
      }
      a.explore {
        border: 1px solid var(--mainColor);
        background: var(--mainColor);
        color: black;
        margin-right: 20px;
        &:hover {
          background: white;
          border-color: white;
          transform: translateY(-10px);
        }
      }
      a.build {
        border: 1px solid white;
        background: none;
        color: white;
        i {
          font-size: 1.3rem;
          margin-right: 5px;
        }
        &:hover {
          background: white;
          border-color: white;
          color: black;
          transform: translateY(-10px);
        }
      }
    }
  }
}

.beginer {
  padding-bottom: 100px;
  .content {
    color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 1.8rem;
    background: var(--mainColor);
    padding: 1.8rem;
    position: relative;
  }
  .shadow {
    background: linear-gradient(180deg,#14f195 -5.71%,transparent);
    clip-path: polygon(0 0,5% 100%,95% 100%,100% 0);
    position: absolute;
    top: 100%;
    margin-top: -15px;
    left: 4px;
    width: calc(100% - 7px);
    height: 70px;
  }
  .child {
    width: 45%;
  }
  h2 {
    font-weight: bold;
  }
  h5 {
    font-size: 1.5rem;
    line-height: 1.3;
    padding-bottom: 2rem;
  }
  a {
    display: table;
    text-decoration: none;
    background: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      background: white;
      border-color: black;
      color: black;
    }
  }

  .desc {
  }
}

.walkthroughs {
  h2 {
    margin-bottom: 1rem;
  }
  h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  &-swiper-wrapper {
    padding-right: 10%;
  }
  .swiper {
    overflow: visible;
  }
  .swiper-slide {
    display: flex;
    height: auto;
  }
}
.walkthroughs-card {
  --bgColor: rgb(255, 117, 74);
  padding: 1rem;
  border-radius: 10px;
  background: var(--bgColor);
  color: black;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
  &._color-1 {
    --bgColor: rgb(235, 84, 188);
  }
  &._color-2 {
    --bgColor: rgb(128, 236, 255);
  }
  &._color-3 {
    --bgColor: rgb(20, 241, 149);
  }
  .type {
    font-size: 1rem;
    background: rgba(black, .8);
    display: table;
    border-radius: 8px;
    padding: 0.5rem 0.8rem;
    color: white;
  }
  .title {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .desc {
    line-height: 1.3;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
  }
  .button {
    background: black;
    border: 1px solid black;
    color: white;
    display: flex;
    align-items: center;
    i {
      font-size: 1.5rem;
      margin-right: 3px;
    }
    &:hover {
      background: white;
      color: black;
    }
  }
}

.videos {
  padding-top: 100px;
  h2 {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .video-swiper-wrapper {
    padding-right: 10%;
  }
  .swiper {
    overflow: visible;
  }
  .swiper-slide {
    height: auto;
    display: flex;
    .video-card {
      flex-grow: 1;
    }
  }
}
.video-card {
  padding: 1px;
  background: black;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(35.16deg, rgb(143, 74, 246) 13.72%, rgb(20, 241, 149) 56.28%, rgb(20, 241, 149) 93.19%);
    opacity: 0;
    transition: opacity .2s ease-out;
  }
  &:hover:before {
    opacity: 1;
  }
  .video-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
  }
  .img {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text {
    background: rgb(38, 38, 43);
    padding: 1rem;
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .desc {
    margin-bottom: 10px;
    line-height: 1.3;
    color: white;
    text-decoration: none;
  }
  .footer {
    display: flex;
    align-items: center;
    .separator {
      width: 2px;
      height: 15px;
      background: white;
      margin: 0 10px;
    }
    .auth {
      display: flex;
      align-items: center;
    }
    .logo {
      --logoWrapperSize: 15px;
      --logoSize: 8px;
      width: var(--logoWrapperSize);
      height: var(--logoWrapperSize);
      padding: 8px;
      margin-right: 10px;
      background: black;
      border-radius: 30px;
      img {
        width: var(--logoSize);
        height: var(--logoSize);
      }
    }
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.frameworks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1.2rem;
  row-gap: 1.2rem;
}
.frameworks-card {
  background: #26262b;
  border: 1px solid #26262b;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 10rem;
  transition: border-color 0.2s ease;
  h5 {
    color: white;
    margin-bottom: 0.5rem;
  }
  h6 {
    color: #b7b7b7
  }
  &:hover {
    border: 1px solid #8f4af6;
  }
}

.tools-section {
  .content {
    background: #80ecff;
    padding: 5rem;
    border-radius: 1rem;
    .separator {
      padding-bottom: 3rem;
    }
    figure {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 4rem;
      color: black;
      img {
        width: 100%;
      }
    }
    figcaption {
      h3 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
        &._font-normal {
          font-weight: 400;
        }
      }
      h4 {
        color: #14f195;
        background: black;
        border-radius: 0.5rem;
        display: table;
        padding: 0.8rem;
        padding-top: 0.5rem;
        font-size: 2rem;
      }
      h6 {
        font-size: 1.3rem;
        font-weight: normal;
        line-height: 1.3;
        margin-bottom: 2rem;
        margin-top: 1rem;
      }
      .button {
        border-color: black;
        display: table;
        color: black;
        color: black;
        &:hover {
          background: white;
          color: black;
        }
      }
    }
  }
}

.reference-section {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.3rem;
    row-gap: 1.3rem;
  }
}
.reference-card {
  background: #26262b;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 10rem;
  transition: background 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h5 {
    color: white;
    margin-bottom: 0.5rem;
  }
  h6 {
    color: #b7b7b7;
    font-size: 1.2rem;
    line-height: 1.3;
  }
  &:hover {
    background: white;
    color: black;
    h5 {
      color: black;
    }
    h6 {
      color: #3c3c3c;
    }
  }

  .people {
    display: flex;
    .person {
      width: 25px;
      heigth: 25px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: .4rem;
      img {
        width: 100%;
        display: block;
      }
    }
  }
}
.resources-section {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.3rem;
    column-gap: 1.3rem;
  }
}
.resource-card {
  background: #26262b;
  border-radius: 0.5rem;
  padding: 1rem;
  height: 10rem;
  transition: background 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  .tag {
    background: black;
    color: white;
    padding: 0.3rem;
    border-radius: 3px;
    display: table;
  }
  h5 {
    color: white;
    margin-bottom: 0.7rem;
  }
  h6 {
    color: #b7b7b7;
    font-size: 1.2rem;
    line-height: 1.3;
  }
  &:hover {
    background: white;
    color: black;
    h5 {
      color: black;
    }
    h6 {
      color: #3c3c3c;
    }
  }
}

.docs-container {
  background: #26262b;
  border-radius: 0.5rem;
  overflow: hidden;
  li {
    border-bottom: 1px solid #000;
    &:last-child {
      border-bottom: 0;
    }
  }
}
.doc-card {
  padding: 2.5rem 2rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h6 {
    font-size: 1.8rem;
  }
  p {
    color: #c8c8d6;
  }
  &:hover {
    background: #39393b;
  }
}

.join-comunity-section {
  .content {
    --gap: 4rem;
    display: grid;
    grid-template-columns: calc(50% - var(--gap) / 2) calc(50% - var(--gap) / 2);
    gap: var(--gap);
    background: rgb(20, 241, 149);
    border-radius: 1.8rem;
    padding: 1rem 3rem;
    color: black;
  }
  .title {
    h2 {
      font-weight: 700;
      font-size: 6rem;
      margin-bottom: 3rem;
    }
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-top: 1px solid black;
      padding: 1rem 0;
      p {
        font-size: 1.3rem;
        font-weight: 600;
      }

      .button {
        --buttonHeight: 40px;
        height: var(--buttonHeight);
        line-height: var(--buttonHeight);
        border-color: black;
        color: black;
        font-size: 0.8rem;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
          background: white;
        }
      }
    }
  }

  .comunities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0;
    li {
      margin: 0.5rem 0;
    }
    li a {
      display: flex;
      align-items: center;
      color: black;
      img {
        margin-right: 2rem;
      }
      p {
        transform-origin: center left;
        font-size: 1.3rem;
        transition: transform 0.3s ease-out;
      }
      &:hover {
        p {
          transform: scale(1.2);
        }
      }
    }
  }
}
