.main-banner {
  position: relative;
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 150px;
  .shadow-top {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 48%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
  }
  .bg-img {
    position: absolute;
    bottom: 0;
    left: 40%;
    width: Min(55vw, 915px);
    img {
      transform: translateY(2%);
      display: block;
      width: 100%;
    }
  }
  .text {
    width: 40%;
    h1 {
      font-weight: 900;
    }
    h5 {
      padding: 40px 0;
      line-height: 1.3;
    }
    .buttons {
      display: flex;
      align-items: center;
      a {
        padding: 0 20px;
        height: 50px;
        border-radius: 40px;
        display: flex;
        align-items: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
      }
      a.explore {
        border: 1px solid var(--mainColor);
        background: var(--mainColor);
        color: black;
        margin-right: 20px;
        &:hover {
          background: white;
          border-color: white;
          transform: translateY(-10px);
        }
      }
      a.build {
        border: 1px solid white;
        background: none;
        color: white;
        i {
          font-size: 1.3rem;
          margin-right: 5px;
        }
        &:hover {
          background: white;
          border-color: white;
          color: black;
          transform: translateY(-10px);
        }
      }
    }
  }
}

.beginer {
  padding-bottom: 100px;
  .content {
    color: black;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background: var(--mainColor);
    padding: 1.8rem;
    position: relative;
  }
  .shadow {
    background: linear-gradient(180deg,#14f195 -5.71%,transparent);
    clip-path: polygon(0 0,5% 100%,95% 100%,100% 0);
    position: absolute;
    top: 100%;
    margin-top: -15px;
    left: 4px;
    width: calc(100% - 7px);
    height: 70px;
  }
  .child {
    width: 45%;
  }
  h2 {
    font-weight: bold;
  }
  h5 {
    font-size: 1.5rem;
    line-height: 1.3;
    padding-bottom: 2rem;
  }
  a {
    display: table;
    text-decoration: none;
    background: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    &:hover {
      background: white;
      border-color: black;
      color: black;
    }
  }

  .desc {
  }
}

.walkthroughs {
  h2 {
    margin-bottom: 1rem;
  }
  h5 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  &-swiper-wrapper {
    padding-right: 10%;
  }
  .swiper {
    overflow: visible;
  }
}
.walkthroughs-cards {
  display: flex;
  gap: 1rem;
}
.walkthroughs-card {
  padding: 1rem;
  border-radius: 10px;
  background: rgb(255, 117, 74);
  color: black;
  .type {
    font-size: 1rem;
    background: rgba(black, .8);
    display: table;
    border-radius: 8px;
    padding: 0.5rem 0.8rem;
    color: white;
  }
  .title {
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .desc {
    line-height: 1.3;
    margin-bottom: 4rem;
    font-size: 1.3rem;
  }
  .button {
    background: black;
    border: 1px solid black;
    color: white;
    display: flex;
    align-items: center;
    i {
      font-size: 1.5rem;
      margin-right: 3px;
    }
    &:hover {
      background: white;
      color: black;
    }
  }
}
